{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%include 'cdnlines.html'%}
    <title></title>
  </head>
  <style>
  body{
    background-image: url('{%static "images/bg1.jpg"%}');
  }
  form{
    background-color: white;
    border:2px solid;
    border-radius: 5px;
    margin-top:40px;
    padding:10px;
  }
  input{
    margin-top: -2px;
  }

  </style>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='offset-md-4 col-md-4'>
          <form method='POST'>
            {%csrf_token%}
            <label>firstname:</label>
            <input type='text'  name='fname' class='form-control'>
            <label>lastname:</label>
            <input type='text' name='lname' class='form-control' >
            <label>mobile:</label>
            <input type='number' name='mobile' class='form-control' >
            <label>email:</label>
            <input type='email' name='email' class='form-control'>
            <center >
              <input type='submit' value='submit' class='btn-outline-success btn-sm btn mt-2'>
              <input type='reset' value='clear' class='btn-outline-danger btn-sm btn mt-2'>
            </center>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
